[data-reveal] {
  opacity: 0;
  filter: blur(10px);
  transform: translate3d(0, 36px, 0);
  transition:
    opacity var(--motion-reveal),
    filter var(--motion-reveal),
    transform var(--motion-reveal);
  transition-delay: var(--reveal-delay, 0ms);
  will-change: opacity, filter, transform;
}

[data-reveal='fade'] {
  transform: none;
}

[data-reveal='rise-sm'] {
  transform: translate3d(0, 16px, 0);
}

[data-reveal].is-revealed {
  opacity: 1;
  filter: blur(0);
  transform: translate3d(0, 0, 0);
}

[data-reveal].is-revealed {
  opacity: 1;
  filter: blur(0);
  transform: translate3d(0, 0, 0);
}

[data-reveal][data-reveal="load"].is-revealed  .reveal-item {
  transition-delay: var(--reveal-delay, 0ms);
  transition:
    width var(--motion-reveal),
    left var(--motion-reveal);
  transition-delay: var(--reveal-delay, 0ms);
  will-change: width, left;
  width: 0%;
  left: 110%;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
  }

  [data-reveal] {
    opacity: 1;
    filter: none;
    transform: none;
  }

  [data-reveal][data-reveal="load"] .reveal-item{
    display: none;
  }
}
